@charset "utf-8";

body {
  background: url(../images/velluto.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size:11px;
}

h1 {
  font-family: sans-serif;
  font-size:100px;
}

h2 {
  color:white;
  font-size:10px;
}

p {
  color:grey;
}

a {
  text-decoration: none;
  color:grey;
}

div.menu {
  
  margin-bottom: 0px;
  text-align: center;
  
}

div.menu {
  margin-left: 4em;
  margin-right: 4em;
  font-size: 0.8em;
  margin-top: 50px;
}


.header {
  background-color: rgba(255,255,255,0.2);
  height: 190px;
  border-bottom: rgba(255,255,255,0.3) solid 1px;
  margin-bottom: 150px;
 
}
.logo
{ 
  padding-top: 40px;
}


#griglia {
  padding: 0;
  margin: 100;
 
}
#griglia > li {
  border: 1px solid #333333;
  display: inline-block;
  width:  160px;
  height: 160px;
  margin: 8px;
  background-color: #abe2ff;
  
}  
.finish{
    background-color: rgba(255,255,255,1);
    height:250px;
    border-bottom: rgba(255,255,255,0.3) solid 1px;
    padding-top: 70px; 
    margin-top: 50px;
  }
  .indeximg
  {
    margin-top:80px;
  }
  .biggallery
  {margin-top:80px;
    margin-left: 8px;
    margin-right: 8px;
  }
  /*container*/
  #drop-menu {
  	margin: 0 auto;
  	padding: 0;
  	width: 100%;
  }

  /*menu*/

  ul#menu {
  	margin: 0px 0 0;
  	padding: 0;
  	list-style: none;
  	float:left;
  	width: 100%;
  	background-color: #111;
  	font-size:80%;
    margin-top: 47px;
    margin-bottom: 50px;
   
  }

  ul#menu li {
  	margin:50;
  	padding:0;
  	float:left;
  	display: block;
  	border-right: 1px solid #222;
  	position: relative;
  }

  ul#menu li a {
  	float: left;
  	padding:12px 30px;
  	color: #fff;
  	text-transform: uppercase;
  	text-decoration:none;
  	-webkit-transition: all 0.6s ease;
  	-moz-transition: all 0.6s ease;
  	-ms-transition: all 0.6s ease;
  	-o-transition: all 0.6s ease;
  	transition: all 0.6s ease;
  }

  ul#menu li a:hover {
  	background: #666;
  	color:#fff
  }

  ul#menu ul {
  	margin:2px 0 0;
  	padding:0;
  	display:inline-block;
  	list-style: none;
  	opacity: 0;
  	visibility: hidden;
  	position: absolute;
  	top: 38px;
  	left: 0;
  	z-index:9999;
  	background: grey;
  	-webkit-transition: all 0.6s ease;
  	-moz-transition: all 0.6s ease;
  	-ms-transition: all 0.6s ease;
  	-o-transition: all 0.6s ease;
  	transition: all 0.6s ease;
  }

  ul#menu li:hover > ul {
  	opacity: 1;
  	visibility: visible;
  }

  ul#menu ul li {
  	float: none;
  	display: block;
  	border: 0;
  }

  ul#menu ul a {
  	padding:10px;
  	width: 130px;
  	display: block;
  	white-space: nowrap;
  	float: none;
  	text-transform: none;
  }

  ul#menu ul a:hover {
  	background-color: white;
  	color: black;
  }

  ul#menu ul ul {
  	top: 0;
  	left: 150px;
  	margin: 0;
  }




/*
body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: sans-serif; }

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  background: url("../images/middleman.png") no-repeat center 100px;
  padding: 350px 0 10px;
  margin: 0; }

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

*/









/* STILE DA NUOVA VERSIONE */

