<div class="biggallery">
 
  <center>
  <a href="galleria.gemme.html" title="GALLERIA GEMME"><img src="images/galleriagemme.jpg" border="0" alt="Links" onMouseOver="this.src='images/entra.png';" onMouseOut="this.src='images/galleriagemme.jpg';border: 1px solid #333333;"></a>
  <a href= title="GALLERIA PIETRE"><img src="images/pietre grezze1.jpg" style=" padding-left: 50px; border="0" alt="Links" onMouseOver="this.src='images/pietre grezzeIC.jpg';" onMouseOut="this.src='images/pietre grezze1.jpg';"></a>
</center>
   
  
  
</ul>