<div class="biggallery">
 
  <center>
  <a href="galleria.gemme.html" title="GALLERIA GEMME"><img src="images/galleriagemme.jpg" border="0" alt="Links" onMouseOver="this.src='images/galleriagemme1.jpg';" onMouseOut="this.src='images/galleriagemme.jpg';"></a>
  <a href= title="GALLERIA PIETRE"><img src="images/pietre grezze1.jpg" border="0" alt="Links" onMouseOver="this.src='images/pietre grezzeIC.jpg';" onMouseOut="this.src='images/pietre grezze1.jpg';"></a>
</center>
   
  
  
</ul>