
 

<center>

      <div id="container">
      <ul id="griglia">
         <a href="ACQUAMARINA/azzurrasito.html" id="" title="azzurrasito"> <li><img src="images/1.jpg" border="0" alt="Links" onMouseOver="this.src='images/1bb.jpg';"onMouseOut="this.src='images/1.jpg';"></a></li>
         <li><a href="labradorite/labradoritesito.html" title="labradoritesito"><img src="images//2.jpg" border="0" alt="Links" onMouseOver="this.src='images/2bb.jpg';" onMouseOut="this.src='images/2.jpg';"></a></li>
         <li><a href="red/red.html" title="red"><img src="images/3.jpg" border="0" alt="Links" onMouseOver="this.src='images/3b.jpg';" onMouseOut="this.src='images/3.jpg';a"></a></li>
         
         <li><img src="images/1.jpg"></li>
         <li><img src="images/1.jpg"></li>
         <li><img src="images/1.jpg"></li>
         <li><img src="images/1.jpg"></li>
         <li><img src="images/1.jpg"></li>
         <li><img src="images/1.jpg"></li>
         <li><img src="images/1.jpg"></li>
         <li><img src="images/1.jpg"></li>
         <li><img src="images/1.jpg"></li>
         <li><img src="images/1.jpg"></li>
         <li><img src="images/1.jpg"></li>
         <li><img src="images/1.jpg"></li>
         <li><img src="images/1.jpg"></li>
         <li><img src="images/1.jpg"></li>
    
    
      </ul>
    </center>
   
       
    
    </ul>
   
    
  </center>
  
  
  
</ul>