

 

<center>

      <div id="container">
      <ul id="griglia">
         <a href="azzurrasito.html" id="" title="azzurrasito"> <li><img src="images/1.jpg" border="0" alt="Links" onMouseOver="this.src='images/1bb.jpg';"onMouseOut="this.src='images/1.jpg';"></a></li>
         <li><a href="labradorite.html" title="labradoritesito"><img src="images/2.jpg" border="0" alt="Links" onMouseOver="this.src='images/2bb.jpg';" onMouseOut="this.src='images/2.jpg';"></a></li>
         <li><a href="tormalina.html" title="red"><img src="images/3.jpg" border="0" alt="Links" onMouseOver="this.src='images/3b.jpg';" onMouseOut="this.src='images/3.jpg';a"></a></li>
         <li><a href="cats.html" title="red"><img src="images/cats1.jpg" border="0" alt="Links" onMouseOver="this.src='images/cats.jpg';" onMouseOut="this.src='images/cats1.jpg';a"></a></li>
         <li><a href="ametista.html" title="red"><img src="images/viola.jpg" border="0" alt="Links" onMouseOver="this.src='images/viola1.jpg';" onMouseOut="this.src='images/viola.jpg';a"></a></li>
         <li><a href="berillo.giallo.html" title="red"><img src="images/BG.jpg" border="0" alt="Links" onMouseOver="this.src='images/BG1.jpg';" onMouseOut="this.src='images/BG.jpg';a"></a></li>
         <li><a href="rhodolite.html" title="red"><img src="images/R.jpg" border="0" alt="Links" onMouseOver="this.src='images/R1.jpg';" onMouseOut="this.src='images/R.jpg';a"></a></li>
         <li><a href="kornerupina1.html" title="red"><img src="images/k1.jpg" border="0" alt="Links" onMouseOver="this.src='images/k.jpg';" onMouseOut="this.src='images/k1.jpg';a"></a></li>
         <li><a href="fenacite.html" title="red"><img src="images/fenacite.jpg" border="0" alt="Links" onMouseOver="this.src='images/fenacite1.jpg';" onMouseOut="this.src='images/fenacite.jpg';a"></a></li>
         <li><a href="quarzo.html" title="red"><img src="images/quarzo.jpg" border="0" alt="Links" onMouseOver="this.src='images/quarzo1.jpg';" onMouseOut="this.src='images/quarzo.jpg';a"></a></li>
        
      </ul>
    </center>
   
       
    
    </ul>
   
    
  </center>
  
  
  
</ul>