---
title: pietre.Lacagnina
pippo: ciao
---


<div>
  <center>
    <p style="margin-top: 20px;">ANALISI E CONSULENZE GEMMOLOGICHE,</p>
    <p style="height: 18px;">GEMME NATURALI E PIETRE GREZZE</p>
    <p>di LACAGNINA GAETANO</p>
    <%= image_tag 'logo.png', :style => "cursor:hand;margin-top: 180px;width: 150px;margin-bottom: 200px;", :onclick => "location.href='gaetanogalleria.html';" %>
  </center>
</div>
