---
title: pietre.Lacagnina
---



<div>
  <center>
    <%= image_tag 'logos.png', :style => "width: 300px;margin-top: 50px;margin-bottom: -200;border-top-width: 90px;" %>

    <div class="header">
    </div>

    <div class="menu">
      <a href="#">GALLERIA</a>
      <a href="#"> STORIA</a>
      <a href="#"> CONTATTI</a>
    </div>

  </center>
</div>

<div>
  <center>
    <p style="margin-top: 20px;">ANALISI E CONSULENZE GEMMOLOGICHE,</p>
    <p style="height: 18px;">GEMME NATURALI E PIETRE GREZZE</p>
    <p>di LACAGNINA GAETANO</p>
    <%= image_tag 'logo.png', :style => "cursor:hand;margin-top: 180px;width: 150px;margin-bottom: 200px;", :onclick => "location.href='gaetanogalleria.html';" %>
  </center>
</div>

<div>
  <center>
    <p style="margin-bottom: 8px;">Laboratorio Via Falcone, 7</p>
    <p style="margin-top: 8px;margin-bottom: 8px;">20123 MILANO</p>
    <p style="margin-bottom: 8px;margin-top: 8px;">Italy</p>
    <p style="margin-bottom: 8px;margin-top: 8px;">P.I. 09359900157</p>
    <p style="margin-bottom: 8px;margin-top: 8px;">tel. e fax. ++39 02/8051475</p>
    <p style="margin-top: 8px;margin-bottom: 8px;">Cell. 3358420472</p>
    <p style="margin-top: 8px;">lggemme@libero.it</p>
  </center>
</div>

