<div class="menu">
    <p style="margin-top: 20px;">ANALISI E CONSULENZE GEMMOLOGICHE,</p>
    <p style="height: 18px;">GEMME NATURALI E PIETRE GREZZE</p>
    <p>di LACAGNINA GAETANO</p>
    <p><a href="mailto:lggemme@libero.it">lggemme@libero.it</a></p>
  </center>
<div class="indeximg">
<center>
  
   <img src="images/green.png" style= "width:190px; margin-bottom: 180px">
</center>


